<h1>User#account_activation</h1>

<p> Hi <%= @user.name %></p>
<p> Click the link below to activate your account:</p>
<%= link_to 'Activate', edit_api_v1_account_activation_url(@user.activation_token, email: @user.email) %>